<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/cards">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Offers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://www.citypng.com/public/uploads/preview/hd-flipkart-round-logo-icon-transparent-png-701751694966204grvmunpzzf.png?v=2024120701" alt="Flipkart">
      </ion-avatar>
      <ion-label>
        <h2>Flipkart</h2>
        <p>Get 10% off on all purchases above ₹2000. Use code FLIP10.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTY871Q1h4rECiMtpEOMCcCBZI49pdSWnzuiQ&s" alt="Amazon">
      </ion-avatar>
      <ion-label>
        <h2>Amazon</h2>
        <p>Enjoy 15% cashback on your first purchase. Use code AMZ15.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://constacloud.com/commercium//media/images-logo/myntra-logo_b4eQE6V_AxGFGPH_7m3LSxd_ttEP81V_ykR9Gbg_1lLXK95_QyqXfb0.png" alt="Myntra">
      </ion-avatar>
      <ion-label>
        <h2>Myntra</h2>
        <p>Flat 20% off on fashion and lifestyle products. Use code MYNTRA20.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOGn9GdgUe4dKibuwCZ7EMvKPnyA53vEBapA&s" alt="Paytm">
      </ion-avatar>
      <ion-label>
        <h2>Paytm</h2>
        <p>Get ₹100 cashback on bill payments above ₹500. Use code PAYTM100.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://upload.wikimedia.org/wikipedia/commons/1/13/Swiggy_logo.png" alt="Swiggy">
      </ion-avatar>
      <ion-label>
        <h2>Swiggy</h2>
        <p>Get 25% off on your first three orders. Use code SWIGGY25.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://i.pinimg.com/736x/f4/34/e3/f434e30f1c5a170fc4700661cc99c3ab.jpg" alt="Zomato">
      </ion-avatar>
      <ion-label>
        <h2>Zomato</h2>
        <p>Save 30% on your first order. Use code ZOMATO30.</p>
      </ion-label>
    </ion-item>

    <ion-item class="bottom">
      <ion-avatar slot="start">
        <img src="https://cdn-1.webcatalog.io/catalog/ajio/ajio-social-preview.png?v=1714777905922" alt="Ajio">
      </ion-avatar>
      <ion-label>
        <h2>Ajio</h2>
        <p>Extra 15% off on your favorite brands. Use code AJIO15.</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
